#portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
body{
  background-color: #000000;
  color: #f0f0f0;
  margin:auto 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.top-part{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /* padding: 20px; */
  align-content: baseline;
}
.main-nav{
  display: flex;
  list-style: none;
  font-size: 1.2em; 
  margin-left: 100px;
  padding: 0;
}
.main-nav li{
  padding: 20px;  
  border-left: #f0f0f0 1px solid;
}

/*change main nav anchor tag color on hover */

/* .main-nav a:hover{
  color: #000000 ;
  background-color: #f0f0f0;
  border-color: #000000;
} */

a{
  text-decoration: none;
  color: #f0f0f0;
}

.about-me{
  display: grid;
  grid-template-columns: 2fr,1fr;
  justify-items: center;
  align-items: center;
}
/* multiline typewriter effect for html p tags which are children of greeting */
#greeting{
  grid-column: 1/2;
}
#greeting p {
  font-size: 6rem;
  font-family: monospace;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
}

#greeting p:nth-child(1) {
  animation: typeLine1 2s steps(20, end) forwards;
}

#greeting p:nth-child(2) {
  animation: typeLine2 2s steps(20, end) forwards;
  animation-delay: 2s;
}

@keyframes typeLine1 {
  0% { width: 0; }
  100% { width: 100%; }
}

@keyframes typeLine2 {
  0% { width: 0; }
  100% { width: 100%; }
}

/* Add a blinking cursor */
#greeting p:nth-child(2)::after {
  content: '|';
  animation: blink 0.7s infinite;
  color: white;
}


@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

#intro pre{
  font-size: 1rem
}

#image-and-socials{
  grid-column: 2/3;
}
#intro{
  grid-column: 1/2;
  grid-row:2/3;
}
header{
  Padding: 20px;
}

#image-and-socials img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.fa {
  padding: 20px;
  font-size: 30px;  
  width: 57px;
  text-align: center;
  text-decoration: none;
}


