#portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
body{
  background-color: #000000;
  color: #f0f0f0;
  margin:auto 0;
}
.top-part{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 20px;
}
.main-nav{
  display: flex;
  list-style: none;
  font-size: 1.2em; 
  margin-left: 100px;
  padding: 0;
}
.main-nav li{
  padding: 20px;
  border-left: #f0f0f0 1px solid;
}

a{
  text-decoration: none;
  color: #f0f0f0;
}

.about-me{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
/* trying typewriter effect */
.type {
  font-family: monospace;
  font-size: 100px;
  color:#0000;
  background:
    linear-gradient(-90deg,#00DFFC 5px,#0000 0) 10px 0,
    linear-gradient(#00DFFC 0 0) 0 0;
  background-size:calc(var(--n)*1ch) 200%;
  -webkit-background-clip:padding-box,text;
  background-clip:padding-box,text;
  background-repeat:no-repeat;
  animation: 
    b .7s infinite steps(1),   
    t calc(var(--n)*.3s) steps(var(--n)) forwards;
}
@keyframes t{
  from {background-size:0 200%}
}
@keyframes b{
  50% {background-position:0 -100%,0 0}
}